<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>주문 목록</title>
</head>
<body>

<h1>주문 목록</h1>
<!--회원정보 추가해야함-->
<a href="/">← 메인으로</a>

<table border="1" width="100%" style="border-collapse: collapse; margin-top: 20px;">
    <thead>
    <tr>
        <th>주문번호</th>
        <th>주문 요약</th>
        <th>주문 날짜</th>
        <th>결제 금액</th>
        <th>상태</th>
        <th>상세보기</th>
    </tr>
    </thead>

    <tbody>
    <tr  th:if="!${orderList.isEmpty()}" th:each="order:${orderList}">
        <td th:text="${order.orderId}">1</td>
        <td th:text="${order.orderSummary}">키보드 외 2건</td>
        <td th:text="${order.formatOrderDate()}">2025-01-01 10:20</td>
        <td th:text="|${order.formatOrderTotalPayment()}원|">59,000원</td>
        <td th:text="${order.orderStatus}">배송 준비중</td>
        <td><a th:href="@{/order/orderDetail/{orderId}(orderId=${order.orderId})}">보기</a></td>
    </tr>
    <!-- 데이터가 없을 때 예시 -->
    <tr th:unless="!${orderList.isEmpty()}">
        <td colspan="6">주문 내역이 없습니다.</td>
    </tr>
    </tbody>
</table>

</body>
</html>
