<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>장바구니</title>
</head>
<body>

<h1>🛒 장바구니</h1>
<a href="/product/list">← 상품 목록으로</a>
<p hidden="hidden" id="memberId" th:text="${loginMember.get().memberId}"></p>
<hr>

<div th:attr="hidden=${!cartList.isEmpty()}" id="emptyCartMessage" style="text-align:center; padding:30px;">
    🛒 장바구니가 비어 있습니다.<br>
    상품을 추가해보세요!
</div>

<table border="1" width="100%" cellspacing="0" cellpadding="8" th:if="${!cartList.isEmpty()}" id="cartListTable">
    <thead>
    <tr>
        <th>상품 이미지</th>
        <th>상품명</th>
        <th>가격</th>
        <th>수량</th>
        <th>합계</th>
        <th>삭제</th>
    </tr>
    </thead>

    <tbody id="tableBody">
    <tr th:each="item:${cartList}" id="tableRow">
        <td>
            <figure>
                <a th:href="@{/product/detail/{productId}(productId=${item.productId})}">
                <img th:src="@{|/productImages/${item.imageOriginalName}|}" alt="무선 이어폰 V1" width="100">
                </a>
            </figure>
        </td>
        <td id="productName" th:text="${item.productName}">무선 이어폰 V1</td>
        <td id="productPrice" th:text="|${item.formatProductPrice()}원|">₩79,000</td>
        <td><input id="productSelect" type="number" th:value="${item.cartQuantity}" min="1" th:max="${item.productStock}"></td>
        <td id="productTotalPrice" th:text="|${item.formatTotalPrice()}원|"></td>
        <td><button id="productDelBtn" type="button">삭제</button></td>
        <td hidden="hidden"><input id="cartId" name="cartId" th:text="*{item.cartId}"/></td>
    </tr>
    </tbody>
</table>

<hr>

<!-- 총합 영역 -->
<section>
    <h3>결제 정보</h3>
    <p id="allProductPrice">상품 합계: ₩149,000</p>
    <a th:href="@{/order/orderPayment}" id="paymentBtn" type="button" onclick="confirmPaymentRedirect(event)">결제하기</a>
    <button id="rmvCartBtn" type="button">장바구니 비우기</button>
</section>

</body>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll("tbody tr");

        rows.forEach(row => {
            const productPrice = row.querySelector("td:nth-child(3)");
            const productNumber = row.querySelector("input[type='number']");
            const totalPrice = row.querySelector("td:nth-child(5)");
            const delBtn = row.querySelector("td:nth-child(6)");

            const price = parseInt(productPrice.textContent.replace(/[^0-9]/g, ""));

            // 수량 변경될 때마다 합계 계산 서버에 보내야함 변경될때마다
            productNumber.addEventListener("change", () => {
                const qty = parseInt(productNumber.value);
                const total = price * qty;
                totalPrice.textContent = `₩${total.toLocaleString()}`;
                updateSummary(); // 총합도 다시 계산

                const cartId = row.querySelector("td:nth-child(7)").innerText.trim();

                fetch(`/cart/updateQuantity/${cartId}`, {
                    method:'POST',
                    headers:{
                        'Content-Type': 'application/json'
                    },
                    body:JSON.stringify({cartQuantity:qty})
                }).then(response=>{
                    if (!response.ok){
                        throw new Error('수량 변경 실패');
                    }
                    return response.json();
                }).then(data=>{
                    console.log('수량 변경 성공',data);
                }).catch(error=>{
                    console.log('에러발생',error);
                })
            });

            // 제품 한개 삭제
            delBtn.addEventListener("click",()=>{
                if (!confirm("해당 제품을 비우시겠습니까??")) {
                    return;
                }
                const cartId = row.querySelector("td:nth-child(7)").innerText.trim();
                const emptyCartDiv = document.getElementById('emptyCartMessage');

                fetch(`/cart/delete/${cartId}`, {
                    method: 'DELETE'
                }).then(response=>{
                    if (!response.ok){
                        throw new Error("삭제 실패");
                    }
                    return response.json();
                });
                row.remove();
                updateSummary();
                const carListTable = document.getElementById('cartListTable');
                const remainRows = document.querySelectorAll("tbody tr").length;
                console.log(remainRows);
                if (remainRows===0){
                    emptyCartDiv.hidden = false;
                    carListTable.hidden = true;
                }
            });
        });

        function updateSummary() {
            let sum = 0;

            document.querySelectorAll("tbody tr").forEach(row => {
                const totalCell = row.querySelector("td:nth-child(5)");
                const value = parseInt(totalCell.textContent.replace(/[^0-9]/g, "")) || 0;
                sum += value;
            });
            document.getElementById("allProductPrice").textContent = `상품 합계: ₩${sum.toLocaleString()}원`;
        }
        updateSummary(); // 초기 로드 시 한 번 계산

    });
    // 장바구니 비우기
    document.getElementById('rmvCartBtn').addEventListener("click",()=>{
        const allTableItem = document.getElementById('cartListTable');
        const emptyCartDiv = document.getElementById('emptyCartMessage');
        const memberId = document.getElementById('memberId').innerText.trim();
        const allProductPrice = document.getElementById('allProductPrice');
        console.log(memberId);
        if(!confirm("장바구니를 비우시겠습니까?")){
            return;
        }

       fetch(`/cart/deleteAll/${memberId}`,{
           method:'DELETE'
       }).then(response=>{
           if(!response.ok){
               throw new Error("삭제 실패");
           }
           return response.json();
       });
       allTableItem.remove();
       allProductPrice.textContent='상품 합계: ₩0원';
       emptyCartDiv.hidden = false;
    });

    function confirmPaymentRedirect(event) {
        // 기본 이동 막기
        event.preventDefault();
        if (confirm("결제 페이지로 이동하시겠습니까?")) {
            window.location.href = "/order/orderPayment";
        }
    }

</script>


</html>
