 <!DOCTYPE HTML>
   <html xmlns:th="http://www.thymeleaf.org">
 <head>
     <meta charset="UTF-8">
     <title>쇼핑몰 홈</title>
 </head>
     <body>
         <h1>🛍️ 쇼핑몰</h1>
         <nav>
             <a th:href="@{/product/list}">상품 목록</a> |
             <a th:href="@{/order/cart}">장바구니</a> |
             <a href="/order/list">주문 내역</a>
             <a th:href="@{/member/logout}" th:if="${loginUser}!=null">로그아웃</a>
         </nav>
         <div th:if="${loginUser}==null">
             <p>환영합니다! 원하는 상품을 둘러보세요.</p>
             <p><a th:href="@{/member/login}">로그인</a> 후 이용해주세요.</p>
             <p><a th:href="@{/member/join}">회원가입</a></p>
         </div>
         <div th:if="${loginUser}!=null">
             <p>환영합니다 <span th:text="${loginUser.getUsername()}">USERNAME</span>님! 원하는 상품을 둘러보세요.</p>
         </div>
     </body>
 </html>
