<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.toyProject2.mapper.ProductMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="productId">
        INSERT INTO TBL_PRODUCT(PRODUCT_NAME, PRODUCT_DESCRIPTION, PRODUCT_PRICE, PRODUCT_STOCK)
        VALUES ( #{productName},#{productDescription},#{productPrice},#{productStock})
    </insert>
    <select id="selectById">
        SELECT * FROM TBL_PRODUCT WHERE PRODUCT_ID=#{productId}
    </select>

    <select id="selectAll" resultType="com.project.toyProject2.domain.dto.product.ProductListDTO">
        SELECT TP.PRODUCT_ID, TP.PRODUCT_NAME, TP.PRODUCT_PRICE,
        TP.PRODUCT_READ_COUNT, TP.PRODUCT_CREATE_DATE, TI.IMAGE_ORIGINAL_NAME
        FROM TBL_IMAGES TI
            INNER JOIN TBL_PRODUCT TP ON TP.PRODUCT_ID = TI.REFERENCE_ID
                AND TI.IMAGE_TYPE = 'PRODUCT'AND TI.MAIN_IMAGE = 'Y'
        <where>
            <if test="keyword != null and keyword != ''">
                AND TP.PRODUCT_NAME LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
        <choose>
            <when test="sort == 'readCount'">
                ORDER BY TP.PRODUCT_READ_COUNT DESC
            </when>

            <when test="sort == 'lowPrice'">
                ORDER BY TP.PRODUCT_PRICE ASC
            </when>

            <when test="sort == 'highPrice'">
                ORDER BY TP.PRODUCT_PRICE DESC
            </when>

            <when test="sort == 'latest'">
                ORDER BY TP.PRODUCT_CREATE_DATE DESC
            </when>

            <otherwise>
                ORDER BY TP.PRODUCT_ID DESC
            </otherwise>
        </choose>
    </select>

    <update id="update">
        UPDATE TBL_PRODUCT
        SET PRODUCT_STOCK=#{productStock}
        WHERE PRODUCT_ID =#{productId}
    </update>
    <update id="updateReadCount">
        UPDATE TBL_PRODUCT
        SET PRODUCT_READ_COUNT = PRODUCT_READ_COUNT+1
        WHERE PRODUCT_ID = #{productId}
    </update>
    <delete id="delete">
        DELETE FROM TBL_PRODUCT WHERE PRODUCT_ID=#{productID}
    </delete>

</mapper>